
.advantages {
  background-color: $silver-100;
  padding: 49px 0 29px;

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50px 50px;

    &:not(:last-child) {
      margin-right: 65px;
    }

    &--delivery {
      background-image: url('../images/sprite.svg#scooter');
    }

    &--return {
      background-image: url('../images/sprite.svg#return-box');
    }

    &--support {
      background-image: url('../images/sprite.svg#24-hours');
    }
  }

  &__title {
    display: block;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: normal;
    margin-bottom: 7px;
    color: $dark-900;
  }

  &__text {
    max-width: 171px;
    width: 100%;
  }
}