.brands {
  padding-bottom: 73px;

  &__items {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    max-width: 80px;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
