@font-face {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Light'),
  url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('OpenSans-SemiBold'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Medium'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Ruda-Regular'),
  url('../fonts/Ruda-Regular.woff2') format('woff2'),
  url('../fonts/Ruda-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Ruda-SemiBold'),
  url('../fonts/Ruda-SemiBold.woff2') format('woff2'),
  url('../fonts/Ruda-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Ruda-Bold'),
  url('../fonts/Ruda-Bold.woff2') format('woff2'),
  url('../fonts/Ruda-Bold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Ruda', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: local('Ruda-Black'),
  url('../fonts/Ruda-Black.woff2') format('woff2'),
  url('../fonts/Ruda-Black.woff') format('woff');
  font-display: swap;
}
