html,
body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-500;
  @extend %opensans-400;
}

.main {
  flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.more-btn {
  color: $green-900;
  background-color: $white;
  @extend %btn;
  outline: transparent;
  transition: background-color 0.3s;
  
  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
  }
  
  &:hover{
    background-color: $green-100;
  }
  
  &:active {
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
    color: rgba(99, 166, 14, 0.5);
  }
}