html,
body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-500;
  @extend %opensans-400;
}

.main {
  flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

