.header {
  color: #fff;
  position: relative;

  &__top {
    padding: 14px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.36;
    background-color: $dark-800;
    text-transform: uppercase;
    color: $white;
  }

  &__logo {
    margin-right: 24px;
  }

  &__bottom {
    position: relative;
    padding: 25px 0;
    background-color: $green-900;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__form {
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 16px;
      left: 12px;
      background: url("../images/sprite.svg#search") 0 0 / cover no-repeat;
    }
  }
}

.header-top {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__item-left {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    outline: transparent;
    transition: opacity 0.3s;

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: -5px;
      left: 0;
    }

    &--delivery {
      padding-left: 44px;
      &::before {
        width: 32px;
        height: 22px;
        background-image: url("../images/sprite.svg#del-address");
      }
    }

    &--hot-line {
      padding-left: 34px;
      &::before {
        width: 22px;
        height: 22px;
        background-image: url("../images/sprite.svg#tel");
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }

  &__text {
    display: block;
  }
}

.catalog {
  max-width: 240px;
  width: 100%;
  margin-right: 30px;
  border-radius: 6px;
  background-color: $white;
  color: $green-900;
  position: relative;

  &__btn {
    flex: 1 1 240px;
    width: 100%;
    padding: 18px 14px 14px 61px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-align-last: left;
    background-color: $white;
    color: $green-900;
    border-radius: 6px 6px 6px 6px;
    outline: transparent;
    position: relative;
    z-index: 3;

    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;

      &::after {
        transform: rotate(180deg);
      }
    }

    &::before {
      content: "";
      width: 25px;
      height: 17px;
      position: absolute;
      top: 16px;
      left: 18px;
      background: url("../images/sprite.svg#nav_icon") center center / contain
        no-repeat;
    }
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 23px;
      right: 13px;
      background: url("../images/sprite.svg#chevron") center center / contain
        no-repeat;
    }
  }

  &__list {
    display: block;
    width: 240px;
    height: 650px;
    padding-top: 50px;
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateY(-200%);

    &--active {
      transform: translateY(0%);
    }
  }

  &__item {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__link {
    display: block;
    padding: 15px 24px;
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
    outline: transparent;
    transition: color 0.3s, border-color 0.3s;

    &:focus {
      box-shadow: inset 0 0 0 3px #e0edcf;
    }

    &:hover {
      border-left: 3px solid $green-900;
      color: $green-900;
    }

    &:active {
      color: #c1c1c1;
      box-shadow: none;
      border: none;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    width: 50px;
    height: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__btn {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
    border-radius: 3px;
    position: relative;
    outline: transparent;
    transition: background-color 0.3s;

    &--info {
      background-image: url("../images/sprite.svg#user");
    }

    &--favorite {
      background-image: url("../images/sprite.svg#heart");
    }

    &--cart {
      background-image: url("../images/sprite.svg#cart");
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      background-color: rgb(255, 255, 255, 0.1);
    }

    &:active {
      box-shadow: none;
      opacity: 0.5;
    }
  }

  &__counter {
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 1;
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $red-900;
    background-color: $white;
    border-radius: 50%;
  }
}

.cart {
  transform: translateY(-200%);
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 10;
  width: 476px;
  height: 937px;
  background-color: $white;
  color: #000;

 &--active {
  transform: translateY(0%);
 }

  &__top {
    padding: 19px 26px 12px 24px;
    line-height: 1.2;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: 33px;
    right: 26px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  &__clear-btn {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 12px;
  }

  &__items {
    width: 475px;
    height: 705px;
    padding: 12px;
    background: #F6F6F6;

    &--clear {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px;
    margin-bottom: 12px;
    background-color: $white;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    position: relative;

    &--remove {
      display: none;
    }
  }

  &__remove-btn {
    position: absolute;
    top: 12px;
    right: 12px; 
    width: 12px;
    height: 12px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  // &__body {

  // }

  &__img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
  }

  &__quantity-box {
    display: flex;
  justify-content: flex-end;
  align-items: center;
  }

  &__quantity {
   margin-right: 12px; 
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }

  &__total-text {
    font-size: 24px;
    line-height: 1.2;
  }

  &__total-sum {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: $dark-500;
  }

  &__order {
    width: 100%;
    padding: 22px 0 23px 0;
    background-color: $green-900;
    color: $white;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
  }
}
