
.top-products {
  padding-bottom: 0;

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 48px;
  }
}