$green-900: #63A60E;
$green-200: #E0EDCF;
$green-100: #EEF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100:#F6F6F6;
$white: #FFFFFF;

%opensans-300 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}

%opensans-400 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%ruda-400 {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
}

%ruda-600 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

%ruda-900 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}

%btn {
  display: inline-block;
  padding: 12px 26px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  border: 1px solid $green-900;
  border-radius: 6px;
}