@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  color: #fff;

  &__top {
    padding: 14px 0;
    @extend %opensans-700;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    background-color: $dark-800;
    text-transform: uppercase;
  }

  &__top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__bottom-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      &:not(:last-child) {
        margin-right: 48px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      outline: transparent;
      transition: opacity 0.3s;

      &:focus {
        box-shadow: 0 0 0 3px $green-100;
        border-radius: 3px;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        color: $green-200;
        box-shadow: none;
      }
    }

    &__img {
      display: inline-block;
      margin-right: 12px;
    }

    &__text {
      display: block;
    }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item{
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__list-link {
    display: block;
    outline: transparent;
    transition: opacity 0.3s;
    
    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }
}

.logo {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 24px;
  outline: transparent;

  &__images {
    margin-right: 7px;
  }

  &__name {
    max-width: 128px;
    width: 100%;
    @extend %ruda-600;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }

  &__descr {
    display: block;
    font-size: 12px;
  }
}

.catalog {
  max-width: 240px;
  width: 100%;
  margin-right: 30px;
  padding: 15px 23px 15px 61px;
  border-radius: 6px;
  background-color: $white;
  color: $green-900;
  position: relative;

  &__select {
    @extend %opensans-600;
    letter-spacing: 0.03em;
    color: $green-900;
  }
  &::before {
    content:'';
    width: 25px;
    height: 17px;
    position: absolute;
    top: 16px;
    left: 18px;
    background: url('../images/icons/nav_icon.svg') center center / contain no-repeat;
  }

  &::after {
    content:'';
    width: 4px;
    height: 7px;
    position: absolute;
    top: 23px;
    right: 13px;
    background: url('../images/icons/chevron.svg') center center / 4px 8px no-repeat;
  }
}

.search-form {
  max-width: 586px;
  width: 100%;
  margin-right: 47px;
  display: flex;
  align-items: center;

  &__select {
    color: $green-900;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 15px 15px 15px 51px;
    @extend %opensans-400;
    background-color: $white;
    background: url('../images/icons/search.svg') 12px 16px / 20px 20px no-repeat;
    border: none;
    background-color: $white;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
    border-radius: 6px 0 0 6px;
    outline: transparent;
  
    &::placeholder {
      @extend %opensans-400;
      letter-spacing: 0.03em;
      color: $dark-800;
    }
  }

  &__btn {
    flex-basis: 157px;
    padding: 15px 52px;
    @extend %opensans-600;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 0px 6px 6px 0px;
    color: $white;
    background-color: $dark-800;
    outline: transparent;
    transition: background-color 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.user-nav {
  &__items {
  display: flex;
  align-items: center;
  }

  &__item {
    width: 50px;
    height: 50px;
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

    &__counter {
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 1;
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $red-900;
    background-color: $white;
    border-radius: 50%;
    }

  &__link {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
    border-radius: 3px;
    position: relative;
    outline:transparent;
    transition: background-color 0.3s;

    &:focus {
      box-shadow: inset 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      background-color: rgb(255, 255, 255, 0.1);
    }

    &:active {
      box-shadow: none;
      opacity: 0.5;
    }
  }
}

.slider {
  &__item {
  width: 100%;
  height: 600px;
  padding: 142px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }

  &__container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }

  &__title {
    max-width: 761px;
    width: 100%;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: $red-900;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
    letter-spacing: 0.03em;
  }

  &__link {
    color: $white;
    background-color: $green-900;
    @extend %btn;
    outline: transparent;
    transition: background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      background-color: #4D810C;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    
    &:active {
      background-color: rgb(99, 164, 14, 0.5);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.slider__inner.slick-slider {
  max-width: 1920px;
  width: 100%;
}

.slick-prev.slick-arrow, 
.slick-next.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 14px 20px;
  width: 60px;
  height: 60px;
  font-size: 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: transparent;
  transition: background-color 0.3s, fill 0.3s;

  &:focus {
    path {
        fill: #5A5A5A;
      }
    background-color: #F2F2F2;
    box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      path {
        fill: $green-900;
      }
      background-color: $green-200;
    }

    &:active {
      path {
        fill: $green-900;
      }
      background-color: #F3F3F2;
      box-shadow: none;
    }
}

.slick-prev.slick-arrow {
  left: 60px;
}

.slick-next.slick-arrow {
  right: 60px;
}

.advantages {
  background-color: $silver-100;
  padding: 48px 0 29px;

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50px 50px;

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__name {
    display: block;
    @extend %opensans-600;
    font-size: 16px;
    margin-bottom: 7px;
    color: $dark-900;
  }

  &__text {
    max-width: 171px;
    width: 100%;
  }
}

.title {
  @extend %ruda-600;
  letter-spacing: 0.03em;
  font-size: 32px;
  color: $dark-900;
  text-transform: uppercase;
}

.top-products {
  padding: 72px 0;
  text-align: center;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    margin-bottom: 48px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 48px;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  &__btn {
  @extend %opensans-700;
  font-size: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-500;
  border-bottom: 3px solid transparent;
  outline: transparent;
  transition: color 0.3s;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--active {
      border-bottom: 3px solid $green-200;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      border-bottom: 3px solid $green-200;
      box-shadow: none;
    }
  }
}

.card {
  padding-top: 57px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  position: relative;


  &:hover {
    border-color: $green-900;
  }
  
  &__top {
    padding: 12px 12px 7px 12px;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align-last: left;
  }
  &__bages {
    display: block;
    text-align-last: left;
    max-width: 66px;
    width: 100%;
    position: absolute;
    top: 7px;
    left: 11px;
  }

  &__bage {
    display: inline-block;
    padding: 3px 6px;
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    border-radius: 6px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &--new {
      background-color: $green-900;
    }

    &--discount {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }

  &__favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    outline: transparent;
    transition: fill 0.3s;
    position: absolute;
    top: 8px;
    right: 4px;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
    }

    &:hover {
      path {
        fill: rgb(255, 184, 0);
      }
    }

    &:active {
      path {
        fill: rgb(255, 184, 0, 0.5);
      }
      box-shadow: none;
    }
  }

  &__image {
    display: block;
    height: 215px;
    position: relative;
    transition: opacity 0.3s;
    &::before {
      content: '';
      width: 48px;
      height: 48px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      border-radius: 50%;
      background: url('../images/icons/search-green.svg') center center / 20px 20px no-repeat;
      background-color: $white;
      opacity: 0;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__bottom {
    padding: 16px 18px;
    text-align: left;
  }

  &__name {
    height: 60px;
    margin-bottom: 10px;
    @extend %opensans-600;
    letter-spacing: 0.03em;
    color: $dark-900;
    text-align-last: left;
  }

  &__add-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    line-height: 1;
    letter-spacing: 0.03em;
  }

  &__cancel-price {
    display: block;
    margin-bottom: 3px;
    position: relative;
    color: $silver-600;
    &::before {
      content: '';
      width: 45px;
      height: 1px;
      position: absolute;
      top: 10px;
      left: 0;
      background-color: $silver-600;
      transform: rotate(-14.99deg);
    }
  }

  &__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: $green-900;
    outline: transparent;
    transition: background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      background-color: #4D810C;
    }
    
    &:active {
      background-color: $green-900;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        path {
        fill: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.footer {
  line-height: 1.4;
  background-color: $dark-800;
  color: #fff;

  &__logo {
    padding: 30px 0;
  }

  &__top-content {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__bottom {
    border-top: 1px solid rgb(255, 255, 255, 0.1);
  }

  &__bottom-content {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.subscribe-form {
	&__text {
    margin-bottom: 18px;
    line-height: 1;
	}

  &__bar {
    display: flex;
  }

	&__input {
    padding: 12px;
    font-size: 14px;
    line-height: 1;
    border-radius: 6px 0 0 6px;
    background-color: $white;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: #4F4F4F;
    }
  }

	&__btn {
    padding: 12px 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    color: $white;
    background-color: $green-900;
    outline: transparent;
    transition: background-color 0.3s;  

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
    }

    &:hover {
      background-color: #4D800C;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
	}
}

.navigation {
  width: 467px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__column {
  display: flex;
  flex-direction: column;
  align-items: flex-star;
  }

  &__link {
    display: block;
    margin-bottom: 18px;
  }
}

.contacts {
  &__hot-line {
  margin-bottom: 18px;
  }

  &__address {
    text-transform: capitalize;
    margin-bottom: 18px;
  }
}

.socials {
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }
  &__link {
    display: block;
    width: 32px;
    height: 32px;
    outline: transparent;
    transition: opacity 0.3s;
    
    &:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }
    
    &:active {
      path {
        fill: $green-200;
      }
      box-shadow: none;
    }
  }
}

.payment {
  &__items {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

@import 'media';
