.badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;

  &__item {
    display: none;
    padding: 3px 6px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    border-radius: 6px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &--on {
      display: block;
    }

    &--new {
      background-color: $green-900;
    }

    &--discount {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }
}
