.btn {
  display: inline-block;
  padding: 11px 23px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: $white;
  border: 1px solid $green-900;
  background-color: $green-900;
  border-radius: 6px;
  outline: transparent;
  transition: background-color 0.3s;

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &:hover {
    background-color: #4d810c;
  }

  &:active {
    background-color: $green-900;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &--white {
    letter-spacing: 0.03em;
    background-color: $white;
    color: $green-900;

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      background-color: $white;
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
      color: rgba(99, 166, 14, 0.5);
    }
  }
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: transparent;
  transition: background-color 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: filter 0.3s;
  }

  &--prev {
    left: -196px;

    &::before {
      background-image: url("../images/sprite.svg#arrow-left");
    }
  }

  &--next {
    right: -196px;

    &::before {
      background-image: url("../images/sprite.svg#arrow-right");
    }
  }

  &:hover::before,
  &:active:before {
    filter: invert(49%) sepia(39%) saturate(1437%) hue-rotate(49deg)
      brightness(101%) contrast(89%);
  }

  &:focus {
    background-color: #f2f2f2;
    box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
  }

  &:hover {
    background-color: $green-200;
  }

  &:active {
    background-color: #f3f3f2;
    box-shadow: none;
  }
}

.close-btn {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 15;
  border: 1px solid red;
  outline: transparent;
  transition: color 0.3s, background-color 0.3s;

  &::before,
  &::after {
    content: "";
    width: 24px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #31352b;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  // &:focus {

  // }

  &:hover {
background-color: $green-100;
&::before, 
&::after {
background-color: $green-900;
}
  }

  // &:active {

  // }
}

.remove-btn {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  z-index: 15;
  border: 1px solid red;
  outline: transparent;
  transition: color 0.3s, background-color 0.3s;

  &::before,
  &::after {
    content: "";
    width: 12px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #c1c1c1;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
