.product-card {
  padding-top: 57px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  position: relative;
  transition: border-color 0.3s;

  &:hover {
    border-color: $green-900;
  }

  &__favorite-btn {
    width: 32px;
    height: 28px;
    border-radius: 3px;
    background-image: url("../images/sprite.svg#card-heart");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 29px;
    outline: transparent;
    transition: filter 0.3s;
    position: absolute;
    top: 17px;
    right: 12px;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
    }

    &:hover {
      box-shadow: none;
      filter: invert(33%) sepia(78%) saturate(1020%) hue-rotate(357deg)
        brightness(100%) contrast(108%);
    }

    &:active {
      filter: invert(33%) sepia(78%) saturate(1020%) hue-rotate(357deg)
        brightness(100%) contrast(108%);
      box-shadow: none;
      opacity: 0.5;
    }
  }

  &__link-img {
    display: block;
    max-width: 298px;
    width: 100%;
    height: 215px;
    overflow: hidden;
    position: relative;
    transition: opacity 0.3s;

    &::before {
      content: "";
      width: 48px;
      height: 48px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      border-radius: 50%;
      background: url("../images/sprite.svg#search-green") center center / 20px
        20px no-repeat;
      background-color: $white;
      opacity: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    padding: 20px 18px 18px;
    height: 135px;
    text-align: left;
  }

  &__name {
    height: 60px;
    margin-bottom: 9px;
    font-weight: 600;
    color: $dark-900;
    text-align-last: left;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: url("../images/sprite.svg#card-cart") center center / 16px 16px
      no-repeat;
    background-color: $green-900;
    outline: transparent;
    transition: background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      background-color: #4d810c;
    }

    &:active {
      background-color: $green-900;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__rating {
    padding-right: 20px;
    font-weight: 700;
    line-height: 1;
    position: relative;

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background: url("../images/sprite.svg#star") 0 0 / cover no-repeat;
      position: absolute;
      top: -1px;
      right: 0;
    }
  }
}
