@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: 
  url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: 
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/Ruda-Regular.woff2') format('woff2'),
  url('../fonts/Ruda-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 600;
  src: 
  url('../fonts/Ruda-SemiBold.woff2') format('woff2'),
  url('../fonts/Ruda-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: 
  url('../fonts/Ruda-Bold.woff2') format('woff2'),
  url('../fonts/Ruda-Bold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 900;
  src: 
  url('../fonts/Ruda-Black.woff2') format('woff2'),
  url('../fonts/Ruda-Black.woff') format('woff');
  font-display: swap;
}