html,
body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  background-color: $white;
  color: $dark-500;
  font-family:'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main {
  flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: block;
  flex: 0 0 200px;
  outline: transparent;
}

.section {
  padding: 72px 0;
  text-align: center;
}

.title {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: $dark-900;
  text-transform: uppercase;
}