$green-900: #63A60E;
$green-200: #E0EDCF;
$green-100: #EEF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100:#F6F6F6;
$white: #FFFFFF;
